<div class="about-section">
    <div class="inner-container">
        <h6>WE CUSTOMIZE YOUR SUCCESS​</h6>
        <h1>Zasta Infotek</h1>
        <p class="text">
            Zasta Infotek Pvt Ltd is a Technology 
            service provider for any businesses,
            found during the year 2019 to provide 
            customized and efficient software
            solutions to customers.
            Zasta was found by Industry trained
            experienced professionals.
            We excel on providing web
            applications and ease the online 
            business of our clients.   <br>
            Zasta has a team of specialized 
            and expertise members who deliver 
            on accuracy and in an unique way of
            innovation for any kind of businesses.
        </p><br>
        <div class="skills">
            <span>
               <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
              </svg>
              24/7 Support</span> 
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                </svg>
                100% Satisfaction</span>           
        </div>
        <div class="skills1">
          <span>This way you will receive technical assistance .</span>  
           <span>100% satisfaction is our promise to you.</span> 
        </div>
        
    </div>
</div>




