<div id="hero">
    <div class="container">
        <div class="info">
            <h2>EXCELLENCE IS OUR HABIT</h2>
            <h1>Why Zasta Infotek</h1>
            <p>Our team is always active with open
                 ears to know your specifications and
                  furnish the perfect information. 
                  We make your business prominent in
                   the internet world. Our experts go
                    wide range to discover the best in 
                    your industry and assist to move
                     forward to the next level.
                      Impress your customers by 
                      providing a go friendly 
                      navigator.</p>
        </div>

    </div>

</div>