
  <div class="row">
    <div class="col-1">
      <h2 data-text="creative...">Web Design & Development </h2>
      <p>The Globe revolve around Internet.
         The smart way to make the business
          reach each and everyone is to make
           a website, we help you to make your
            internet life so easy by creating one....</p>
  
            <button type="button">Know More</button>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <h2 data-text="creative...">Web Design & Development </h2>
      <p>The Globe revolve around Internet.
         The smart way to make the business
          reach each and everyone is to make
           a website, we help you to make your
            internet life so easy by creating one....</p>
  
            <button type="button">Know More</button>
    </div>
  </div>
