<div class="wrapper">
    <p>WE CUSTOMIZE YOUR SUCCESS</p>
    <h1>Specialized Area</h1>

    <div class="content-box">
        <div class="card">
            <div class="card-img">
            <img src="assets\images\web.jpg" alt=""></div>
            <h2>Web Design and Development</h2>
            <p>The Globe revolve around Internet.
             The smart way to make the business reach each...
            </p>

        </div>  

        <div class="card">
            <div class="card-img">
            <img src="assets\images\ecom.jpg" alt=""></div>
            <h2>E-Commerce</h2>
            <p>Providing E-commerce solutions for seamless
                 shopping experience to your customers.
            </p>
        </div>  
        
        <div class="card">
            <div class="card-img">
            <img src="assets\images\mob.png" alt=""></div>
            <h2>Mobile Application</h2>
            <p>Mobile App is an easy way to attract people,
                 We generate apps at present which ...
            </p>
        </div>  

        <div class="card">
            <div class="card-img">
            <img src="assets\images\quality.png" alt=""></div>
            <h2>Quality Engineering</h2>
            <p>We concentrate more on Quality engineering
                 as it proves our work standards at high...
            </p>
        </div>
        
        <div class="card">
            <div class="card-img">
            <img src="assets\images\main.jpg" alt=""></div>
            <h2>Maintenance & Support</h2>
            <p>Keeping a website attractive 
                and well maintained is very much important for...
            </p>
        </div>

        <div class="card">
            <div class="card-img">
            <img src="assets\images\dig.png"  alt=""></div>
            <h2>Digitral Marketing</h2>
            <p>We do marketing of your products & 
            services with our excellent digital marketing...
            </p>
        </div>

        
        
        

    </div>    
</div>